<div class="demo-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" routerLink="/home">
    <i class="material-icons" role="presentation">arrow_back</i>
  </a>
</div>
<div class="demo-blog__posts mdl-grid demo-blog--blogpost">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50 about-page">
      <h3>Journey with Jur</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div class="minilogo"></div>
      <div>
        <strong>Jur</strong>
        <span>1997</span>
      </div>
      <div class="section-spacer"></div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <p>
        University of San Carlos
        <br>Student
        <br>Computer Engineer
        <br>Lapu Lapu, Cebu
        <br>21 - Capricorn
        <br>
        <br>Adventurous
        <br>Coffee and pizza
      </p>
      <p>
        Expressing my life in photos.
        <br>Get to know me in my blog.
      </p>
      <p>
        "You can never expect in life"
      </p>
    </div>
  </div>
</div>
